body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:108px;
  width:141px;
  height:69px;
  font-size:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:137px;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:130px;
  width:300px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:165px;
  width:140px;
  height:40px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
