body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:448px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:809px;
  height:448px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#009900;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:41px;
  width:611px;
  height:170px;
  font-size:28px;
  color:#009900;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:607px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:105px;
  width:50px;
  height:38px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:143px;
  width:623px;
  height:68px;
  font-size:18px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:619px;
  word-wrap:break-word;
}
